<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring
     http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	 xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	 xmlns:util="http://www.springframework.org/schema/util"
>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:defaults.properties</value>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="DatabaseConnector" class="org.esupportail.restaurant.web.dao.DatabaseConnector"
		  scope="singleton" />
	
	<!--
     | Message source for this context, loaded from localized "messages_xx" files
     +-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages</value>
            </list>
        </property>                                     
    </bean>
	
       <!-- 
     | Standard JSP view resolver
     +-->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="cache" value="true"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
	
	<bean id="requiredAnnotationBeanPostProcessor" class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
	
	<import resource="classpath*:META-INF/restaurantportlet-domain-services-auth.xml" />
	
	
	<bean id="POJOGenerator" class="org.esupportail.restaurant.web.dao.POJOGenerator"/>

	<!-- EhCache : Start -->
	<bean id="cacheManager"
	    scope="singleton"
	    class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
	    <description>
	        This bean is used to configure EhCache.
	    </description>
	    <property name="configLocation" value="classpath:cache/ehcache.xml" />
	</bean>
	
	<!-- EhCache : End -->


    	<!-- 
	| Quartz Cron Task Scheduler : Start
	 -->
	<!-- 
	<bean id="QuartzCacheUpdateJob" class="org.esupportail.restaurant.web.quartz.QuartzCacheUpdateJob"/>
	
	<bean name="JobDetailBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="QuartzCacheUpdateJob"/>
        <property name="targetMethod" value="execute"/>
    </bean>
	
	 <bean id="triggerBean" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="JobDetailBean"/>
        <property name="startDelay" value="10000"/>
        <property name="repeatInterval" value="5000"/>
    </bean>
		<bean class="org.springframework.scheduling.quartz.TaskScheduler">
		<property name="triggers">
			<list>
				<ref bean="triggerBean"/>
			</list>
		</property>
	</bean>-->
	
	<!-- 
	| Quartz Cron Task Scheduler : End
	 -->	
	 
	 <bean id="flux" class="org.esupportail.restaurant.web.flux.RestaurantFlux"/>
	 
</beans>