/* I. General styles */

	.pc .row,
	.portlet-container .row {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	img {
		max-width: 100%;
	}
	/* max-width: 100%; trick is buggy with sprite images */
	#map-canvas img,
	.sprite {
		max-width: none;
	}
	#map-canvas {
		width: 100%;
		height: 350px;
	}
	
	.ta-center {
		text-align: center;
	}
	
	.get-located {
		margin-top: 10px;
		font-size: 1.4em;
	}

/* icon set */

.icn-fam {
	background-position: 0 center;
	background-repeat: no-repeat;
	padding-left: 20px !important;
}

/* Don't look beyond this point... it looks horrible ! */

#opening {
	width: 100%;
	text-align: center;
}
#opening th {
	font-weight: bold;
}


.tab-header {
	display: table;
	padding: 0;
	width: 100%;
}
.tab-header li {
	display: table-cell;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	background: #DDD;
}
.tab-header a {
	padding: .5em 0;
	display: block;
}
.tab-header .ui-state-active {
	background: #FFF;
}

.accordion-title {
	padding: .5em 1em;
	background: #DDD;
	border-bottom: 2px solid #AAA;
}