/* I. General styles */

	img {
		max-width: 100%;
	}
	/* max-width: 100%; trick is buggy with sprite images */
	#map-canvas img,
	.sprite {
		max-width: none;
	}
	#map-canvas {
		width: 100%;
		height: 350px;
	}
	
	.ta-center {
		text-align: center;
	}

/* icon set */

.icn-fam {
	background-position: 0 center;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.get-located {
	position: absolute;
	bottom: 5px;
	right: 20px;
	width: 30px;
	height: 30px;
	z-index: 999999999999999999;
	font-size: 0;
	background: url("../images/geolocation_button.png") no-repeat 0 0;
	border: 0;
}
.get-located:hover,
.get-located:active {
	background-image: url("../images/geolocation_button_pressed.png");
}


/* Don't look beyond this point... it looks horrible ! */

#opening {
	width: 100%;
	text-align: center;
}
#opening th {
	font-weight: bold;
}


.tab-header {
	display: table;
	padding: 0;
	width: 100%;
}
.tab-header li {
	display: table-cell;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	background: #DDD;
}
.tab-header a {
	padding: .5em 0;
	display: block;
}
.tab-header .ui-state-active {
	background: #FFF;
}

.accordion-title {
	padding: .5em 1em;
	background: #DDD;
	border-bottom: 2px solid #AAA;
}