/* Theme relative CSS */ 

.icn-fam-back       { background-image: url("../images/resultset_previous.png"); }
.icn-fam-meal       { background-image: url("../images/script.png");             }
.icn-fam-fav        { background-image: url("../images/star.png");               }
.icn-fam-infos      { background-image: url("../images/information.png");        }
.icn-fam-valid      { background-image: url("../images/accept.png");             }
.icn-fam-invalid    { background-image: url("../images/exclamation.png");        }
.icn-fam-disability { background-image: url("../images/disability.png");         }       
.icn-fam-wifi	   	{ background-image: url("../images/wifi.png");         		 }      
.icn-fam-stats	   	{ background-image: url("../images/stats.png");         		 }       

.starred-icon {
	color: #E5DD6E;
}